<!doctype html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <style>
      body {font-family: "Raleway", Arial, sans-serif}
      .w3-row img {margin-bottom: -8px}
      .main-title {
        font-size: 40px;
      }

      .upload-block {
        margin-top: 30px;
      }
    </style>
  </head>

  <body>
    <div class="w3-content" style="max-width:1500px">
      <!-- Header -->
      <header class="w3-container w3-xlarge w3-padding-24">
        <a href="{{ url_for('index') }}" class="w3-left w3-button w3-white main-title">XDA</a>
      </header>
    </div>

    <hr style="height:10px;border-width:0;color:gray;background-color:gray">

    
    <div class="w3-center upload-block">
      <p>Upload .dck</p>
      <form method=post enctype=multipart/form-data>
      <input value="Upload .dck" type=file name=file>
      <input type=submit value=Upload>
    </form>
    </div>
  </body>
</html>